html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #d2d2d3;
  color: white;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  background-color: #182a42;
  color: white;
  position: sticky;
  padding: 0 2rem;
  height: 8rem;
  z-index: 20;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#submenu {
   position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #253f61;
  padding: 1rem 0;
  z-index: 999;
  box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.75);
}

#logo {
  font-family: "BBH Sans Bartle";
  font-size: 2.5rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: default;
  text-shadow: 9px 7px 11px #000000;
}

#logo:hover {
  transform: scale(1.1);
  color: #00aeef;
  text-shadow: 0 0 10px #00aeef;
}

#menu-header {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  transition: 0.3s;
}

#menu-header a {
  text-decoration: none;

  font-weight: bold;
  font-size: 1.5rem;
}

.estilo-menu {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: rgb(135, 158, 222);
  color: white;
  padding: 0.5em 1em;
  border-radius: 15px;
  box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.3s ease;
}

.estilo-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.4s ease;
  z-index: 0;
  border-radius: 15px;
}

.estilo-menu span {
  position: relative;
  z-index: 1;
}

.estilo-menu:hover::before {
  transform: scale(1);
}

.estilo-menu:hover {
  color: rgb(135, 158, 222);
}

/* Main */

.hero {
  height: calc(100vh - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "roboto", sans-serif;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1498050108023-c5249f4df085);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content p {
  padding-bottom: 1rem;
}

.btn-hero {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  background-color: #253f61;
  color: white;
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(135, 158, 222);
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.4s ease;
  z-index: 0;
  border-radius: 15px;
}

.btn-hero span {
  position: relative;
  z-index: 1;
}

.btn-hero:hover::before {
  transform: scale(1);
}

.btn-hero:hover {
  color: #253f61;
}

/* Seção Sobre */

.sobre-conteudo {
  display: flex;
  align-items: stretch;
}

.sobre-texto,
.foto-destaque {
  flex: 1;
}

.foto-destaque {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}

.foto-destaque::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(37,63,97,0.9), rgba(24,42,66,0.9));
  z-index: 1;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.foto-destaque:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.sobre-texto {
  background: linear-gradient(
    to bottom,
    rgba(37, 63, 97, 0.9),
    rgba(24, 42, 66, 0.9)
  );
  flex: 1;
  border-radius: 20px;
  margin: 1rem;
  line-height: 1.5;
  padding: 2rem;
  font-family: "roboto", sans-serif;
  font-size: 1.3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sobre-texto:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.sobre-texto h1 {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

#foto-equipe {
  max-height: 600px;
  width: 100%;
  height: 110%;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#destaque {
  position: relative;
  z-index: 2;
  text-align: center;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,1);
}

/* Seção Missão */

.missao {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(37,63,97,0.9), rgba(24,42,66,0.9));
  border-radius: 20px;
  margin: 0 1rem;
  margin-top: 0.4rem;
  font-family: "roboto", sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.missao:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.missao p {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin-top: 0;
}

.missao h4 {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.missao h4::before {
  content: "🎯";
  top: 50%;
  left: 50%;
  transform: translate(-365%, -10%);
  position: absolute;
  top: 2px;
}

/* Seção Valores */

.valores {
  background: linear-gradient(to bottom, rgba(37,63,97,0.9), rgba(24,42,66,0.9));
  margin: 2rem auto;
  padding: 2.5rem 2rem;
  border-radius: 20px;
  max-width: 900px;
  text-align: left;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
  color: #f5f7fa;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: default;
}

.valores:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.valores h4 {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  font-size: 1.9rem;
  color: white;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  position: relative;
}

.valores h4::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f4f4f5;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.valores ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0;
}

.valores li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 1rem;
  background-color: rgba(37, 63, 97, 0.7);
  border-left: 5px solid #00a3d9;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.valores li:hover {
  background-color: rgba(37, 63, 97, 0.9);
  transform: translateX(5px);
}

.valores li b {
  color: #f5f7fa;
}

/* Seção Serviços */

#servicos {
  padding: 4rem 1rem;
  background: #c9ccd3;
}

.titulo-servico {
  font-size: 2rem;
  text-align: center;
  color: #253f61;
  position: relative;
  margin-bottom: 2rem;
}

.titulo-servico::before {
  content: "💼";
  top: 50%;
  left: 50%;
  transform: translate(-250%, -10%);
  position: absolute;
  top: 2px;
}

.titulo-servico::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg, #253f61, #1e90ff);
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.container-servicos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.card-servico {
  background: linear-gradient(to bottom, rgba(37, 63, 97, 0.9), rgba(24, 42, 66, 0.9));
  border: 15px;
  padding: 2rem;
  border-radius: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-servico:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Seção Time */

#time {
  padding: 4rem 1rem;
   background: linear-gradient(180deg, #c9ccd3, #e4e7ec);
  transition: background 0.5s ease;
  border-radius: 20px;
  font-family: "roboto", sans-serif;
}

.titulo-time {
  font-size: 2rem;
  text-align: center;
  color: #253f61;
  position: relative;
  margin-bottom: 2rem;
}

.titulo-time::before {
  content: "💻";
  top: 50%;
  left: 50%;
  transform: translate(-300%, -15%);
  position: absolute;
  top: 2px;
}

.titulo-time::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg, #253f61, #1e90ff);
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.intro-time {
  text-align: center;
  color: #253f61;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.container-time {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3rem 0 1rem 0;
}

.card-time {
  background: linear-gradient(to bottom, rgba(37, 63, 97, 0.9), rgba(24, 42, 66, 0.9));
  border: 1px solid rgba(255,255,255,0.1);
  padding: 2rem;
  border-radius: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "roboto", sans-serif;
}

.card-time p {
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1.4;

}

.card-time h2 {
  text-shadow: 5px 7px 5px  rgba(0,0,0,0.6);
  font-weight: 800;
}

.card-time::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
}

.card-time:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.foto-time {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
  position: relative;
  z-index: 1;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  color: #1e90ff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffffff;
}

/* Rodapé */

footer {
  background: linear-gradient(to top, #182a42, #253f61);
  padding: 3rem 2rem 1rem;
  font-family: "roboto", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.footer-col {
  flex: 1 1 250px;
}

.footer-col h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.footer-col p {
  margin: 0.4rem 0;
  line-height: 1.5;
}

.footer-copy {
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.3);
}

.menu-footer {
  display: flex;
  margin-top: 0.5rem;
  gap: 1rem;
}

.menu-footer a img {
  width: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

.menu-footer a img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}

.footer-separator {
  margin: 2rem 0 1rem;
  border: none;
  height: 1px;
  background-color: rgba(255,255,255,0.2);
}