html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;

  justify-content: center;
  background-color: #182a42;
  color: white;
  position: sticky;
  padding: 0 23rem 0 0;
  height: 8rem;
  
}

#submenu {
  display: flex;
  background-color: #253f61;
  padding: 1em;
  justify-content: center;
  position: sticky;
  top: 0;
  box-shadow: 0px 6px 5px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 5px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 5px 3px rgba(0,0,0,0.75);
z-index: 10;
}

#logo {
  font-family: "BBH Sans Bartle";
  width: 0.3em;
  text-shadow: 8px;
}

#menu-header {
  display: flex;
  gap: 20px;
}

#menu-header a {
  text-decoration: none;

  font-weight: bold;
  font-size: 1.5rem;
}

.estilo-menu {
  background-color: rgb(135, 158, 222);
  color: white;
  padding: 0.5em;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.75);
}

.estilo-menu:hover {
  background-color: white;
  color: rgb(135, 158, 222);
}

.hero {
  height: calc(100vh - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1498050108023-c5249f4df085);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background-color: #182a42;
  color: white;
  box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
padding: 0 2rem;

}

footer h1 {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  font-size: 2rem;
  font-family: "BBH Sans Bartle", sans-serif;
}

footer h3{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

footer p{
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.548);
}

.menu-footer {
  display: flex;
  justify-content: center; 
}

.menu-footer img {
  width: 3rem;
  padding: 0 1rem;
  transition: 0.3s;
}

.menu-footer img:hover {
  width: 3.5rem;
}

